.component-Register{
    
    display: flex;
    justify-content: flex-start;
.container-Register {
    width: 100%;
    height: auto;
    margin-top: 80px ;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    .logo-register{
      background-color: rgb(255, 255, 255);
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
        border-radius: 5px;
        width: 400px;
        height: 465px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 60%;
        }
    }
    .form-regiter{
      background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 400px;
        height: 465px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
           
        }
       form{
        width: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column;
        align-items: center;
        .true{
            display: none;
            opacity: 0;
        }
        .err{
            display: flex;
            opacity: 1;
            color: #f02849;
            font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
            font-size: 13px;
            
            margin-top: px;
            text-align: left;
        }
       

        button {
            background-color: #3b5998; /* Facebook blue */
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

       .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
        font-weight: bold;
      }
      
      input {
        width: 90%;
        height: 30px;
        padding-left: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
      } 
      input, select {
            width: 90%;
            height: 30px;
            padding-left: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
      input:focus {
        outline: none;
      }
      input, select:focus {
        outline: none;
      }
       }

    
    } 
    }
     

}
}